.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.contestCard {
  display: flex;
  padding: 20px;
  margin-left: 25px;
  border-radius: 5px;
  border-style: solid;
  border-color: green;
  margin-bottom: 10px;
  max-width: 300px;
}

.contestCard > h3{
  font-size: 25px !important;
}

a:link {
  text-decoration: none !important;
  color: black !important;
}

a:visited {
  text-decoration: none !important;
  color: black !important;
}

footer {

}
